[user]
    # Change the name and email to your own
    name = cymoo
    email = milkywayjc@hotmail.com

[http]
    # proxy = http://name:pwd@example.com:8080

[https]
    # proxy = https://name:pwd@example.com:8080

[help]

    # Automatically correct and execute mistyped commands
    autocorrect = 1